@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

body{
    font-family: $droid;
    font-size: 14px;
    color: $black;
    background-color: $cream;
}
header{
    font-family: $playfair;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 54px;
    margin-bottom: 20px;
}

p{
    margin-top: 0;
    margin-bottom: 20px;
}


.collumn {

}


.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}


.content{
    display: inline-block;
    margin: 30px 2% 0 2%;
}



.headline{
	@include headline;
}

.hl1 {
    @include headlinel1;
}

.hl2 {
    @include headlinel2;
}

.hl3 {
    @include headlinel3;
}

.hl4 {
    @include headlinel4;
}


.hl5 {
    @include headlinel5;
}

.hl6 {
    @include headlinel6;
}

.hl7 {
    @include headlinel7;
}

.citation {
    @include citation;
}


.figure {
    @include collumn;
	  margin: 0 0 20px;
}

.figcaption{
    @include collumn;
	font-style: italic;
	font-size: 12px;
}
.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}

/////

@media only screen and (min-width: 25em) {

	.collumn {
		border-bottom: 1px solid #2f2f2f;
	}


}

@media only screen and (min-width: 36em) {

	.weatherforcastbox{
		display: none;
  }

    header{
        font-size: 80px;
        line-height: 72px;
        overflow: hidden;
    }
}


@media only screen and (min-width: 60em){

}



