@mixin collumn {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    transition: all .7s;

}

@mixin headline {
		@include collumn;
    text-align: center;
    line-height: normal;
    font-family: $playfair;
    display: block;
    margin: 0 auto;
}


@mixin headlinel1 {
	@include headline;
	  font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}


@mixin headlinel2 {
	@include headline;
	  font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;

    &:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
    }

    &:after {
    	border-bottom: 1px solid #2f2f2f;
    	width: 100px;
    	content: '';
    	height: 7px;
    display: block;
    margin: 0 auto;
	}
}


@mixin headlinel3 {
	@include headline;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

@mixin headlinel4 {
	@include headline;
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;

    &:before {
     border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
    }

    &:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
    }
}


@mixin headlinel5 {
	@include headline;
	  font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;

}

@mixin headlinel6 {
	@include headline;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;

&:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}

&:after {
	  border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
	}
}


@mixin headlinel7 {
	@include headline;
	  font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}


@mixin citation {
	  font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

    &:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
    }

    &:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
    }
}







